@font-face {
	font-family: "PTSansNarrowRegular";
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/PTSansNarrow/PTSansNarrow.woff") format("woff"),
		 url("../fonts/PTSansNarrow/PTSansNarrow.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: "PTSansNarrowBold";
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/PTSansNarrow/PTSansNarrowBold.woff") format("woff"),
		 url("../fonts/PTSansNarrow/PTSansNarrowBold.ttf") format("truetype");
	font-style: bold;
	font-weight: normal;
	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	display: inline-block;
	list-style: none; /*убираем маркеры списка*/
	padding: 0; /*padding-left: 0; убираем левый отступ, равный 40px*/
	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}
li{
	display: inline;/*для того, чтобы центрировать надписи в элементах списка по горизонтали*/
}
html, body{
	position: relative;
	height: 100%;
}
body{
	text-align: center;
	font-family: "PTSansNarrowBold", sans-serif;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.5143rem;
	color: #000;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-image: url('../images/optimized/background.jpg');
	background-repeat: no-repeat;
	background-color: #000;
	background-position-x: center;
}
/* style of buttons start */
a.button{
	font-size: 0.8rem;
	line-height: 2.7rem;
	color: #fff;
	display: inline-block;
    position: relative;
    width: 139px;
    height: 44px;
    text-align: center;
    background-color: #000;
}
a.button:hover{
	background-color: #663d15;
	cursor: pointer;
}
a.button:active{
	background-color: #663d15;
}
input[type=button], [type=submit]{
	color: #fff;
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.7143rem;
	background-color: #000;
	cursor: pointer;
	border: none;
}
input[type=button]:hover{
	background-color: #663d15;
}
input[type=button]:active{
	background-color: #663d15;
}
input[type=submit]:hover{
	background-color: #663d15;
}
input[type=submit]:active{
	background-color: #663d15;
}
input:focus { 
    outline: none !important;
    border: 1px solid #663d15;
    box-shadow: 0 0 10px #663d15;
}
textarea:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}
input[type=button]{
	width: 140px;
	height: 44px;
}
input[type=submit]{
	width: 300px;
	height: 44px;
}
input, textarea{
	text-align: center;
	font-family: "PTSansNarrowBold", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.7143rem;
	color: #fff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
/* style of buttons end */
.container{
	max-width: 960px;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/* header */
header{
	height: 72px;
	margin-bottom: 60px;
	background-color: #000;
	font-size: 1rem;
	line-height: 1rem;
	text-align: left;
	color: #fff;
}
header a{
	display: inline-block;;
    color: #fff;
    padding-top: 28px;
    padding-right: 22px;
    padding-bottom: 30px;
    padding-left: 22px;
}
header a:hover{
	background-color: #242424;
}
header a:active{
	background-color: #242424;
}
header input[type=button]{
	font-size: 1rem;
}
.login-container{
	margin-left: 260px;
}
header input.login-container:hover{
	background-color: #242424;
}
.header-menu li{
	display: inline-block;
	margin-left: -0.2rem;
	white-space: nowrap;
}
.header-menu li:first-child{
	margin-left: 0;
}
.header-menu + input{
	width: 107px;
	height: 72px;
	padding: 22px 20px 24px 51px;
}
.header-menu + input[value]{
	background-image: url("../images/icon-login.png");
	background-repeat: no-repeat;
	background-position: 19px 28px;
}
/* modal window */
.login-form{
	position: fixed;
    top: -50%;
    left: 50%;
    width: 460px;
    height: 385px;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #fff;
    padding: 50px 80px 10px;
    text-align: left;
}
.login-form-title{
	font-size: 30px;
	margin-bottom: 25px;
}
.login-form-description{
	margin-bottom: 15px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
	height: 43px;
	width: 100%;
	border: 2px solid #000;
	color: #000;
	text-align: left;
	padding: 0 15px;
}
.login-form input[type="text"]:focus{
	border-color: #663d15;
}
.login-form input[type="password"]:focus{
	border-color: #663d15;
}
.login-form input[type="text"]{
	margin-bottom: 9px;
}
.login-form input[type="password"]{
	margin-bottom: 15px;
}
/* Активация модального окна в состоянии :target */
.login-form:target {
    top: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
/* main block */
main{
	margin-bottom: 75px;
}
.logo{
	max-width: 368px;
	height: 204px;	
	margin-right: auto;
	margin-bottom: 18px;
	margin-left: auto;
	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
}
/* promo-blocks */
.promo-blocks{
	color: #fff;
	text-align: center;
	font-size: 0;
}
.promo-block-item{
	display: inline-block;
	position: relative;
	width: 33.3%;
	max-width: 295px;
	margin-right: 13px;
	margin-bottom: 0;
	margin-left: 13px;
	font-size: 0.8rem;
}
.promo-block-item::before{
	content: "";
	position: absolute;
	height: 21px;
	width: 21px;
	top: 32%;
	right: 46%;
	background-color: #fff;
	transform: rotate(45deg);
}
.promo-block-item:first-child{
	margin-left: 0;
}
.promo-block-item:last-child{
	margin-right: 0;
}
.promo-block-title{
	font-size: 1.8rem;
	line-height: 3rem;
	font-style: normal;
	margin-bottom: 55px;
}
/* section */
.info, .contacts{
	min-height: 400px;
	background-image: url(../images/info-background.jpg);
	background-color: #fffefe;
	padding-top: 42px;
	padding-right: 70px;
	padding-bottom: 50px;
	padding-left: 70px;
	text-align: left;
	font-size: 0;
}
.info-item{
	display: inline-block;
	vertical-align: top
}
.info{
	position: relative;
	margin-bottom: 35px;
}
.info h3{
	font-size: 1.9429rem;
	line-height: 3rem;
	text-align: left;
	font-weight: normal;
}
.info-item.news h3{
	margin-bottom: 14px;
}
.info-item{
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8rem;
}
.info-item:last-child{
	padding-left: 90px;
}
.news-date{
	font-size: 0.8rem;
	text-transform: none;
	margin-bottom: 21px;
}
.button.all-news{
	position: absolute;
	left: 80px;
    bottom: 50px;
}
.photogallery{
    webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: -10px 0 6px -6px #777;
} 
.photogallery h3{
	margin-bottom: 25px;
}     
.photogallery div{
	position: relative;
    left: 7px;
	height: 180px;
	margin-bottom: 29px;
}
.info-item.photogallery input{
	display: inline-block;
	position: relative;
}
.photogallery input:last-child{
	margin-left: 16px;
}
/* second-section, contacts */
.contacts{
	margin-bottom: 62px;
}
.contacts h3{
	font-size: 1.8429rem;
	line-height: 3rem;
	text-align: left;
	font-weight: normal;
	margin-bottom: 18px;
}
.contacts p{
	margin-bottom: 20px;
}
.contact-information a{
	top: 3px;
}
.contact-information a:last-child{
	left: 18px;
}
.enroll form{
	position: relative;
	min-height: 170px;
}
.enroll input{
	display: inline-block;
	color: #000;
}
.enroll{
    webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: -10px 0 6px -6px #777;
}
.info-item.enroll input:not([type=submit]){
	position: relative;
	width: 140px;
	height: 42px;
	border: 1px solid black;
	margin-bottom: 22px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.info-item.enroll input:not([type=submit]):nth-child(odd){
	margin-right: 8px;
}
.info-item.enroll input:not([type=submit]):nth-child(even){
	margin-left: 8px;
}
.info-item.enroll input[type=submit]{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;	
}
/* footer */
footer {
	height: 193px;
	font-size: 0;
	line-height: 193px;
	color: #fff;
	background-image: url(../images/footer-background.jpg);
	background-repeat: repeat;
}
footer a{
	color: #fff;
}
footer .search-on-map{
	border-bottom: 1px solid #fff;
}
.footer-item{
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	width: 33.3%;
	font-size: 0.8rem;
}
footer .adress{
	text-align: left;
}
footer .developer{
	text-align: right;
}

/* social links */
.social-links ul{
	justify-content: center;
	margin: 0;
	padding-top: 15px;
}
.social-links ul li{
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 5px;
}
.social-links a{
	display: block;
	width: 43px;
	height: 43px;
	padding: 7px 4px;
	background-color: #000;
}
.social-links svg{
	/*pointer-events: none;*/
	width: 100%;
	height: 100%;
	fill: #fff;
}
.social-links a:hover{
	background-color: #fff;
}
.social-links a:hover svg{
	fill: #000;
}
/* developer */
footer .developer p{
	padding: 0 38px;
	margin-bottom: 15px;
}
.developer a.button:hover{
	background-color: #fff;
	color: #000;
}