@font-face {
	font-family: "PTSansNarrowRegular";
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/PTSansNarrow/PTSansNarrow.woff") format("woff"),
		 url("../fonts/PTSansNarrow/PTSansNarrow.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: "PTSansNarrowBold";
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/PTSansNarrow/PTSansNarrowBold.woff") format("woff"),
		 url("../fonts/PTSansNarrow/PTSansNarrowBold.ttf") format("truetype");
	font-style: bold;
	font-weight: normal;
	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	display: inline-block;
	list-style: none; /*убираем маркеры списка*/
	padding: 0; /*padding-left: 0; убираем левый отступ, равный 40px*/
	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}
li{
	display: inline;/*для того, чтобы центрировать надписи в элементах списка по горизонтали*/
}
html, body{
	position: relative;
	height: 100%;
}
body{
	text-align: center;
	font-family: "PTSansNarrowBold", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #000;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-image: url('../images/optimized/barbershop-index-background.jpg');
	background-repeat: no-repeat;
	background-color: #000;
}
input[type=button], [type=submit]{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	background-color: #000;
	cursor: pointer;
	border: none;
}
input[type=button]:hover{
	background-color: #663d15;
}
input[type=button]:active{
	background-color: #663d15;
}
input[type=submit]:hover{
	background-color: #663d15;
}
input[type=submit]:active{
	background-color: #663d15;
}
input[type=button]{
	width: 140px;
	height: 40px;
}
input[type=submit]{
	width: 300px;
	height: 40px;
}
input, textarea{
	text-align: center;
	font-family: "PTSansNarrowBold", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
/* 14px 24px - обычный текст, большинство
16px 20px - Быстро, дорого
30px 42px - новости */
.container{
	max-width: 960px;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/* header */
header{
	background-color: #000;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}
header a{
	color: #fff;
}
header nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header a{
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
}
header a:hover{
	background-color: #242424;
}
header a:active{
	background-color: #242424;
}
header ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.login-container, .header-menu li{
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 25px;
	padding-left: 0;
}
.login-container a::before{
	content: url("../images/icon-login.png");
	position: relative;
	top: 2px;
	height: 30px;
	left: -15px;
	padding-left: 20px;
}
/* main block */
.logo{
	max-width: 368px;
	height: 204px;	
	margin-top: 55px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
}
/* promo-blocks */
.promo-blocks{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	color: #fff;
	font-size: 14px;
}
.promo-block-item{
	position: relative;
	max-width: 295px;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
}
.promo-block-item::before{
	content: "";
	position: absolute;
	height: 13px;
	width: 13px;
	top: 50px;
	right: 133px;
	margin: 10px;
	background-color: #fff;
	transform: rotate(45deg);
}
.promo-block-item:first-child{
	margin-left: 0;
}
.promo-block-item:last-child{
	margin-right: 0;
}
.promo-block-title{
	font-size: 30px;
	line-height: 42px;
	font-style: normal;
	margin-bottom: 60px;
}
.promo-block-description{
	margin-bottom: 80px;
}
/* section */
.info, .contacts{
	min-height: 420px;
	background-image: url(../images/info-background.jpg);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-right: 70px;
	padding-bottom: 50px;
	padding-left: 70px;
	text-align: left;
}
.info{
	margin-bottom: 35px;
}
.info h3{
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	font-weight: normal;
}
.info input{
	margin-top: 30px;
	margin-bottom: 0;
	margin-left: 0;
}
.info-item{
	max-width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.info-item input{
	position: absolute;
	bottom: 0;
}
.photogallery input:last-child{
	margin-left: 160px;
}
.info-item:last-child{
	padding-left: 90px;
}
.news-text{
	margin-top: 25px;
}
.news-date{
	margin-top: 5px;
	font-size: 14px;
	text-transform: none;
}
.photogallery{
    webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: -10px 0 6px -6px #777;
}      
.photogallery div{
	margin-top: 25px;
	height: 180px;
}
/* second-section, contacts */
.contacts{
	margin-bottom: 65px;
}
.contacts h3{
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	font-weight: normal;
	margin-bottom: 30px;
}
.contacts p{
	margin-bottom: 30px;
}
.enroll input{
	color: #000;
}
.enroll input[type=submit]{
	color: #fff;
}