@font-face {
	font-family: "PTSansNarrowRegular";
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansNarrow/PTSansNarrow.woff") format("woff"),
	url("../fonts/PTSansNarrow/PTSansNarrow.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: "PTSansNarrowBold";
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot");
	src: url("../fonts/PTSansNarrow/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansNarrow/PTSansNarrowBold.woff") format("woff"),
	url("../fonts/PTSansNarrow/PTSansNarrowBold.ttf") format("truetype");
	font-style: bold;
	font-weight: normal;
	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	display: inline-block;
	list-style: none; /*убираем маркеры списка*/
	padding: 0; /*padding-left: 0; убираем левый отступ, равный 40px*/
	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}
li{
	display: inline;/*для того, чтобы центрировать надписи в элементах списка по горизонтали*/
}
html, body{
	position: relative;
	height: 100%;
}
body{
	text-align: center;
	font-family: "PTSansNarrowBold", sans-serif;
	font-size: 54px;
	font-weight: bold;
	line-height: 24px;
	color: #000;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-image: url('../images/optimized/barbershop-index-background.jpg');
	background-repeat: no-repeat;
	background-color: #000;
}
/* 14px 24px - обычный текст, большинство
16px 20px - Быстро, дорого
30px 42px - новости */
.container{
	max-width: 980px;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/* header */
header{
	background-color: #000;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}
header a{
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
	color: #fff;
}
header a:hover{
	background-color: #242424;
}
header a:active{
	background-color: #242424;
}
.login{
	display: inline-block;
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
}
.login:hover{
	background-color: #242424;
}
.login:active{
	background-color: #242424;
}